# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and config
data/
config/config.ini
!data/ip.txt
!data/ipv6.txt
!data/result.csv
!data/CloudflareST

# Logs
logs/

# IDE
.vscode/
.idea/
.DS_Store
